.bloc1 {
    
    margin-right: 2%;
}


.container {
    display: flex;
    flex-direction: row;
}

.modal {
    display: none;
    position: fixed;
    top: 10%;
    left: 15%;
    width: 80%;
    height: 60%;
    z-index: 1;
   
}

.modal-content {
padding: 20px;
}