html {
    padding: 0;
    margin: 0;

}

.container {
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10%;
    margin-top: 5%;



}

.bloc {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-color: black;
    border: 10%;
    margin-top: 2%;
    width: 50%;
    height: 40%;


}

.card,
.name,
.weight,
.height ,
.fleches,
.surprise {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Inclusive Sans', sans-serif;
    padding: 5%;
}

#fleche1 {
    border-radius: 10%;
}