
/* .container {
  display: flex;
  align-items: center;
  padding: 5%;
} */

.bloc1 {
  height:80% ;
  width: 60%;
  background-color: black;
}


#details-avatarURL {
    height: 100%;
    width: 100%;
    object-fit: cover;
    background-color: white;
  }
  
.myModal {
    z-index: 1;
    display: none;
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .myModal-content {
    margin: 10% auto;
    width: 80%;
    border-radius: 1rem;
    padding: 2rem;
    background-color: white;
  } 

  img {
width: 10%;
background-size: cover;
display: grid;
grid-column-start: 1;
grid-column-end: span col4-start;
grid-row-start: 2;
grid-row-end: span 2;

  }
  button {
    padding: 5%;
  }